<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>帖子集合</title>
	
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="./css/bootstrap.min.css">
	<style>
		#box{
			position: relative;
			/* width: 25%; */
			float: right;
			
		}
		#explain{
			width: 100%;
			height: 400px;
			background:url('img/301836.jpg') no-repeat left top;
		}

	</style>
</head>
<body>
	<div class="container">

	<div class="col-md-12 article" id="explain">
		
	</div>

		<div class="article wall-column" id='box'>
			<p><span class="article" >1.排行</span></p>
			<p><span class="article" >2.排行</span></p>
			<p><span class="article" >3.排行</span></p>
			<p><span class="article" >4.排行</span></p>
			<p><span class="article" >5.排行</span></p>
			<p><span class="article" >6.排行</span></p>
			
		</div>
		<div class="wall">
		
		  <div class="article">
		    <img src="img/1.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/2.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/3.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/4.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/5.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/6.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>

		  <div class="article">
		    <img src="img/7.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/8.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/9.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/10.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/11.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/12.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/13.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/14.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		  <div class="article">
		    <img src="img/15.jpg" />
		    <h2>Cursus cursus proin auctor in in ac, nunc, tortor</h2>
		  </div>
		</div>
	
	</div>
	

	<script src="js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/jaliswall.js"></script>
	<script type="text/javascript">
	$(function(){
		$('.wall').jaliswall({ item: '.article' });
	});
	</script>
</body>
</html>